body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #0f2444;
    color: #333;
    line-height: 1.6;
    padding: 20px;
}

header {
    text-align: center;
    margin-bottom: 30px;
}

header img {
    width: 200px;       /* Puedes ajustar el tamaño */
    height: 200px;      /* Mantener proporción cuadrada para que sea perfectamente circular */
    border-radius: 50%; /* Esto hace que la imagen sea redonda */
    object-fit: cover;  /* Recorta la imagen si no es cuadrada, para que se vea bien */
    margin-top: 15px;   /* Espacio entre el texto y la imagen */
}

header h1 {
    color: #ffffff;
}

header p {
    color: #ffffff;
    font-style: italic;
}

section {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    text-align: center;
}

section h2 {
    color: #2980b9;
    margin-bottom: 10px;
}

#practicas ul {
    list-style: none;
    padding-left: 0;
}

#practicas li {
    margin: 10px 0;
}

#practicas a {
    text-decoration: none;
    color: #2c3e50;
    font-weight: bold;
    transition: color 0.3s;
}

#practicas a:hover {
    color: #2980b9;
}
